@import url(font-awesome.min.css);
*{
    margin: 0;
}
html{
    scroll-behavior: smooth
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    background: #856c6c;
}
.darkModeBody{
    background: #254d6a;!important;
}

.icon::before{
    font-family: FontAwesome, sans-serif;
    font-style: normal;
    width: 20px;
    height: 20px;
}
.SIcon{
    border-radius: 50%;
    padding: 5px 9px;
    margin: 0 5px;
    font-size: 2em;
    color: #7b643b;
    background: #ac9e9e;
}
.darkModeSIcon{
    color: #3b81ea;
    background: rgba(0,0,0,0);!important;
}
.SIcon:hover{
    background: #776b6b;
}
.darkModeSIcon:hover{
    background: #194064;
}
button{
    background: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    width: 65%;
    overflow: hidden;
    border-radius: 30px;
    background: #7b643b;
}
.darkModeMain{
    background: #0c374f;
    color: #bfbfbf;
}
.title{
    display: flex;
}
.add{
    border-radius: 8px;
    padding: 5px 9px;
    margin: 0 5px;
    font-size: 2em;
    color: #7b643b;
}
.darkModeAdd{
    color: #3b81ea;
}
.add:hover{
    background: #8b7e7e;
}
.darkModeAdd:hover{
    background: #194064;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2% 5%;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 20px 20px;
    background: #c7c7c7;
}
.darkModeHeader{
    background: #254d6a;
}
.mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: 5px 0;
    color: #7b643b;
}
.darkModeMode{
    color: #3b81ea;
}
.modeI{
    margin: 0 12px;
}
.mode-buttonT{
    border-radius: 50%;
    padding: 5px 5px;
    margin: 0 1px;
    font-size: 2em;
    color: #7b643b;
}
.darkModeMode-buttonT{
    color: #3b81ea;
}
.mode-buttonT:hover{
    background: #af9e9e;
}
.darkModeMode-buttonT:hover{
    background: #194064;
}
.CheckIconTrue{
    color: #47ea3b;
}
.CheckIconFalse{
    color: red;
}
.listCon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 20px 20px;
    background: #c7c7c7;
}
.darkModeListCon{
    background: #254d6a;
}
.listIt{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    padding: 5px 0 10px 0;
    font-size: 2em;
    border-bottom: 1px solid #8f7b7b;
    margin: 5px 0;
}
.darkModeListIt{
    border-bottom: 1px solid black;
}
hr{
    width: 90%;
    margin: 10px 0;
}
.listInput{
    display: flex;
}
.up{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 160px;
}
.uper{
    padding: 1em;
    background: rgba(166, 135, 135, 0.9);

}
.darkModeUper{
    background: rgba(12, 55, 79, 0.9);
}
.hoverTab{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
}
.textEditor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 32%;
    height: 35%;
    border-radius: 0.5em;
    background: #7b643b;
    border: 1px solid #8f7b7b;
}
.darkModeTextEditor{
    background: #0c374f;
    border: 1px solid #3d6fbd;
}
.textCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.added{
    font-size: 2em;
    color: #3b3223;
}
.darkModeAdded{
    color: #dddddd;
}
.closeBtn{
    position: absolute;
    right: 35%;
}
.text{
    width: 90%;
    height: 53%;
    border-radius: 0.5em;
    border: 0;
    padding: 1em;
    color: #7b643b;
}
.darkModeText{
    color: #776d6d;
}
.subBtn{
    background: #d6ef3c;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 96%;
}
.subBtn:hover{
    background: rgba(187, 209, 51, 0.8);
}
.subBtn:active{
    border-right: 2px solid #3d6fbd;
    border-bottom: 2px solid #3d6fbd;
}
.loading{
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 650px){
    .main{
        width: 95%;!important;
    }
    h1{
        font-size: 1.5em;
    }
    .add{
        font-size: 1.3em;
    }
    .mode{
        font-size: 1.5em;
    }
    .container{
        padding: 0 10px;
    }
    .listIt{
        font-size: 0.9em;
    }
    .up{
        right: 20px;
    }
    .uper{
        background: rgba(166, 135, 135, 0.3);
    }
    .darkModeUper{
        background: rgba(12, 55, 79, 0.3);
    }
    .SIcon{
        font-size: 1.5em;
    }
    .textEditor{
        width: 90%;
        height: 35%;
    }
    .added{
        font-size: 1em;
    }
    .closeBtn{
        right: 5%;
    }
}
